.blog-listing {
    margin-top: 10px;
    display: flex;
    direction: column;
}

.blog-post {
    /*margin-left : 20px;*/
    /*margin-right: 20px;*/
    /*overflow: none;*/
}

.blog-post-details {
    padding-left: 10px;
    padding-right: 10px;
}

.listing-date {
    flex: 1 0 0;
    text-align: center;
}

.listing-body {
    flex: 9 0 0;
}

.social-bar {
    display: inline;
    list-style: none;
    margin: 5px;
}

.social-bar > li {
    display: inline;
}

.color-facebook { color: #365899; }
.color-twitter  { color: #00aced; }
.color-reddit   { color: #ed001c; }

.listing-title {
    margin-bottom: 5px;
}

.listing-body > p {
    margin-top: 5px;
}

.listing-month {
    font-size: 2vh;
}

.listing-day {
    font-size: 2.5vh;
}

.listing-year {
    font-size: 2vh;
}