.avatar-fluid-80 {
    margin-top: 15px;
    max-width: 80%;
    height: auto;
}

.color-facebook {
    color: #3b5998;
    text-decoration: none;
}

.color-reddit {
    color: #FF5700;
    text-decoration: none;
}

.color-twitter {
    color: #26a7de;
    text-decoration: none;
}

.blog-card-body {
    height: 8rem;
}

a {
    color: #b2b6cc;
}

a:hover {
    color: #f7a590;
}

body {
    background-color: #393a4e;
    color: oldlace;
}

.bg-green {
    --bs-bg-opacity: 1;
    background-color: #6a2025;
    opacity: 1;
}