input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #bbb;
    box-sizing: border-box;

    transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid #b2b6cc;
    box-shadow: 0 0 10px #b2b6cc;
    outline: none;
}

button {
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

    background-color: #393a4e;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #b2b6cc;
}

button[type="reset"] {
    background-color: #b72f2b;
}

button[type="reset"]:hover {
    background-color: #f7a590;
}