{% set collection = page.collection() %}

<div class="col-sm-12">
	<h2 class="display-2">Recent Blog Posts</h2>
</div>

<div class="col-sm-12">
	<ul class="list-group list-group-flush">
	{% for child in collection %}
		<li class="list-group-item"><i class="bi bi-chevron-double-right"></i> {{ child.date|date("Y-m-d") }} - <a href="{{ child.url }}">{{ child.title }}</a></li>
	{% endfor %}
	</ul>
</div>