{% set collection = page.collection() %}

<div class="row shadow-sm rounded">
	<div class="col">
		<h2 class="display-2">Recent Blog Posts</h2>

		<div class="row gy-5">
		{% for child in collection %}
			<div class="col-sm-12 p-2 col-md-6 col-lg-4">
				{% include 'partials/blog_listing.html.twig' with { 'blog':page, 'page':child, 'truncate':true } %}
			</div>
		{% endfor %}
		</div>
	</div>
</div>
