{% set collection = page.collection() %}

<div class="col-sm-12">
	<h2 class="display-2">Recent Blog Posts</h2>
</div>

{% for child in collection %}
	<div class="col-sm-12 col-lg-6">
		{% include 'partials/blog_listing.html.twig' with { 'blog':page, 'page':child, 'truncate':true } %}
	</div>
{% endfor %}
