<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{ page.title }}</h5>
		<h6 class="card-subtitle">{{ page.date|date("Y-M-d") }}</h6>

		<p class="card-text">{{ page.summary }}</p>

		<a href="{{ page.url }}">Read All</a>
	</div>
</div>
