<div class="color-band">
    <div class="color-band-item c1"></div>
    <div class="color-band-item c2"></div>
    <div class="color-band-item c3"></div>
    <div class="color-band-item c4"></div>
    <div class="color-band-item c5"></div>
</div>