{% if grav.user.authenticated %}
    <a class="logout" href="{{ uri.addNonce((base_url_relative ~ uri.path)|trim('/') ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce')|e }}">
    	<i class="fa fa-sign-out-alt"> </i> {{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}
	</a>
{% else %}
    <a class="login" href="{{ base_url_relative|trim('/') ~ config.plugin.login.route }}">
    	<i class="fa fa-sign-in-alt"> </i> {{ 'PLUGIN_LOGIN.BTN_LOGIN'|t }}
	</a>
{% endif %}
