{% extends 'partials/base.html.twig' %}

{% block content %}
    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        <div class="row">
            <div class="col p-2">
                {{ module.content }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
