{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}

<div class="studio">
	{% for child in collection %}
		{% include 'partials/gallery_preview.html.twig' with {'photography':page, 'page':child, 'truncate':true } %}

		{% include 'partials/color_band.html.twig' %}
	{% endfor %}
</div>

{% endblock %}