{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="row">

	<h1 class="display-1">Photography</h1>

	<div class="gallery-container {{ page.header.class }}">
		{{ unite_gallery(page.media.images) }}
	</div>

</div>

{% endblock %}
